

<html>
<head>
    <title>
        @ViewBag.Title
    </title>

    <meta charset="utf-8" />
    <meta name="viewport" Content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/jquery.countdown.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/aos.js"></script>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script src="~/Scripts/main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" href="~/Content/demo.css" />

    <script src="~/Scripts/main.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">


    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css">

    <link rel="stylesheet" href="~/fonts/flaticon/flaticon.css">



    <link rel="stylesheet" href="~/Content/aos.css">

    <link rel="stylesheet" href="~/Content/style.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <header class="site-navbar py-3" role="banner">

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-2 col-xl-4">
                        <h3 class="mb-0"><a href="#" class="text-white h2 mb-0">Shipping Management System</a></h3>
                    </div>
                    <div class="col-12 col-md-7 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="../Home/about">About Us</a></li>
                                <li class="has-children">
                                    <a href="#">Services</a>
                                    <ul class="dropdown">
                                        <li><a href="../Users/CruiseShip">Cruise</a></li>
                                        <li><a href="../Users/CargoShip">Cargo Services</a></li>
                                    </ul>
                                </li>

                                <li><a href="../Feedbacks/Index">Contact Us</a></li>
                                <li><a href="../Home/Index">Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
                </div>

            </div>

        </header>
    </div>
    <div class="overlay site-blocks-cover" style=" background-image: url(../../Content/images/hero_bg_1.jpg);" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">

                <div class="col-md-8 ">


                    <h1 class="text-white font-weight-light mb-5 text-uppercase font-weight-bold">World's best Cargo and Cruise Services</h1>
                </div>
            </div>
        </div>
    </div>
    
            </div>
            <div class="container body-content">
                @RenderBody()

            </div>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>