@model ShippingManagementSystem.Models.CargoBooking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CargoBooking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ship.ShipModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ship.ShipModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CargoBookingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
